.contact-form{
  @include clearfix;
  @extend %pannel-white;
  padding-top: 27px;
  padding-bottom: 26px;
  cursor: auto;
  margin-bottom: 40px;
  &__img{
    display: inline-block;
    float: right;
  }
}
