.input-group{
  margin-bottom: 20px;
  &--no-margin{margin: 0;}
  .flexbox &--spread{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include atSmall{
    .flexbox &--spread-until-small{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .no-flexbox &--spread-until-small{
      @include clearfix;
      text-align: right;
      .input-group__submit{vertical-align: middle;}
      .input-group__required{line-height: 40px; float: left;}
    }
  }
  @include atMedium{
    &--no-margin-until-medium{margin: 0;}
  }
  &__label{
    display: block;
    font-size: 0.9375rem;
    font-weight: 600;
    margin-bottom: 10px;
    span{color: red;}
  }
  &__required{
    display: block;
    color: red;
    font-size: 0.8125rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
  }
  @include atSmall{
    &__required{
      margin-bottom: 0;
    }
  }
  &__input{
    display: block;
    width: 100%;
    min-height: 42px;
    border: 1px solid darken($white-cream, 10%);
    border-radius: 6px;
    padding: 0 5px;
    font-size: 0.9375rem;
    font-weight: 300;
    transition: all .3s ease-out;
    box-shadow: inset 0 1px 4px 0 rgba(#000, .2);
    &:focus{
      outline: 0;
      border-color: $orange;
      border-width: 1px;
      box-shadow: none;
    }
    &--text-area{
      resize: vertical;
      padding-top: 5px;
      height: 160px;
    }
  }
  &__radio{
    input{
      display: none;
      &:not(:checked)+label{
        @extend .btn--grey-light;
      }
      &:checked+label{
        @extend .btn--orange;
        &[data-text]{line-height: 6.95rem;}
      }
    }
    label{
      @extend .btn;
      width: 54px;
    }
  }
  &__submit{
    border: none;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3.445rem;
    letter-spacing: 1px;
    width: 100%;
    &[data-text]:hover{
      line-height: 8rem;
    }
  }
  @include atSmall{
    &__submit{
      width: auto;
    }
  }
}
