.login-form{
  padding: 5px 20px;
  background-color: $grey-light-xs;
  width: 280px;
  box-shadow: 0 2px 2px 0 $grey-light-x;
  border-top: 3px solid $orange;
  &__title{
    font-size: 18px;
    color: $grey-light;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__submit, &__input-group{width: 100%;}
  &__input-group{
    height: 40px;
    padding: 0 8px;
    line-height: 38px;
    font-size: 0.8125rem;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 5px;
    color:  $grey-med;
    border: 1px solid $grey-light-xs;
    &:focus{box-shadow: 0 0 5px 0 $blue}
    span.icon{font-size: 1.2rem; vertical-align: -5%;}
    input{
      display: inline-block;
      background: 0;
      border: 0;
      outline: 0;
      line-height: 20px;
      border-left: 1px solid $grey-light-xs;
      padding-left: 8px;
      margin-left: 6px;
    }
  }
  &__submit{margin-top: 10px;}
  &__links{
    color: $grey-light;
    padding: 0;
    margin-top: 5px;
    font-size: 0.8125rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    li{
      display: inline-block;
      &.separator{color: $grey-light-x; line-height: 29px;}
      a{padding: 0; transition: color .3s ease-in; &:hover{color: $blue;}}
    }
  }
}
