.hardware-thumb{
  position: relative;
  min-width: 325px;
  &--bg-white{
    @extend %pannel-white;
    min-width: none;
    padding: 0 !important;
    cursor: default;
  }
  &__img{
    margin: 0 auto;
    max-height: 135px;
  }
  &__title{
    font-size: 0.9375rem;
    color: $orange;
    margin-bottom: 5px;
    @include ellipsis;
  }
  &__list{
    font-size: 0.875rem;
    margin: 15px 0;
    li:not(:first-child){
      margin-top: 5px;
      @include ellipsis;
    }
  }
  &__price-tag{
    display: inline-block;
    font-size: 1rem;
    color: $orange;
    .price{
      font-size: 1.625rem;
    }
    p{
      margin: 0;
      margin-top: 3px;
      font-size: 0.75rem;
      color: $grey-med;
    }
  }
  &__btn{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
  }
  &--home{
    margin-bottom: 40px;
    padding-top: 10px;
    &:hover{
      box-shadow: 0 4px 0 0 $blue;
      .btn{background-color: $blue}

    }
    &__content{
      border-top: 1px dotted $orange;
      padding: 10px;
    }
  }
}
