.hardware-thumb{
  position: relative;
  min-width: 325px;
  &__img{
    margin: 0 auto;
    max-height: 135px;
  }
  &__title{
    font-size: 0.9375rem;
    color: $orange;
    margin-bottom: 5px;
  }
  &__price-tag{
    display: inline-block;
    font-size: 1rem;
    color: $orange;
    .price{
      font-size: 1.625rem;
    }
    p{
      margin: 0;
      margin-top: 3px;
      font-size: 0.75rem;
      color: $grey-med;
    }
  }
  &__btn{
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
  }
}
