.hardware-card, .hardware-aside{
  @extend %pannel-white;
  padding: 0;
  cursor: default;
}

.hardware-card{
  margin-bottom: 40px;
  padding: 30px 40px 20px 40px;
  min-height: 350px;

  &__name{
    color: $orange;
    font-size: 1.625rem;
    text-transform: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    @include atSmall{
      text-align: left;
    }
  }
  &__body{
    position: relative;
  }
  &__img-box{
    text-align: center;
    margin-bottom: 20px;
  }
  &__image{
    max-width: 330px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    img{
      display: inline-block;
      max-height: 160px;
    }
  }
  &__image-thumbs{
    display: inline-block;
    list-style: none outside none;
    padding: 0;
    margin: 0;

    li{display: inline-block;}
    li{
      overflow: hidden;
      padding: 2px;
      border: 1px solid darken($white-cream, 10%);
      width: 75px;
      height: 35px;
      border-radius: 4px;
      margin-right: 5px;
      background-color: transparent;
      text-align: center;
      transition: border .3s ease-out;
      img{display: inline; max-height: 100%;}
      &.is-active, &:hover{border-color: $orange;}
    }
  }
  &__list{
    font-weight: 600;
    margin-bottom: 10px;
    li:not(:first-child){
      margin-top: 16px;
    }
    @include atMedium{
      @include vertical-align-middle;
    }
  }
  &__price-tag{
    display: block;
    position: relative;
    text-align: center;
    .price{
      font-size: 3.125rem;
    }
    @include atLarge{
      position: absolute;
      text-align: right;
      right: 20px;
      bottom: 20px;
    }
  }
  &__shop-ui{
    display: block;
    margin-top: 10px;
    .btn{display: inline-block; vertical-align: top;}

  }
  &__input-group{
    display: block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    input, label{
      display: inline-block;
      width: auto;
      margin-bottom: 0;
    }
    input{font-weight: 600; text-align: center;}
    @include atSmall{
      display: inline-block;
    }
  }
}


.hardware-aside{
  padding: 30px;
  color: $grey-light;
  &__title{
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
  &__content{
    margin-top: 20px;
    font-size: 0.875rem;
    h3{
      font-size: inherit;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
    }
    p{
      text-align: justify;
      margin: 5px 0;
    }
  }
}
