body {
  @include base-style();
}

button, input, optgroup, select, textarea{
  font-family: $font-stack;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: 0;
  }
}
*{
  box-sizing: border-box;
}
.link{
  display: block;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $orange;
}
a.link:hover{
  text-decoration: underline;
}
