$blue: #1CB3F4;
$orange: #f17f24;
$grey-dark: #3f4952;
$grey-med: #4D4D4F;
$grey-light: #6F6F6F;
$grey-light-x: #b3b3b3;
$white-cream : #eaebec;

/* FONT Variables
// --------------------------------------------------*/

$font-stack: 'Open Sans', sans-serif;
$font-color: #444347;
$font-size: 1rem;
$line-height: 1.2;

/* GRID Variables
// --------------------------------------------------*/

/*main queries*/
$atSmall: 530 !default;
$atMedium: 800 !default;
$atLarge: 1010 !default;

// Default grid
// -------------------------
$gridColumns:             12 !default;
$gridColumnWidth:         60px !default;
$gridGutterWidth:         20px !default;
$gridRowWidth:            $gridColumns*($gridColumnWidth+$gridGutterWidth);

// Fluid grid - NOT USED
// -------------------------
$fluidGridColumnWidth: percentage(($gridColumnWidth+$gridGutterWidth)/$gridRowWidth);

@function getColumnWidth($columnNumber){
    @return $columnNumber*$fluidGridColumnWidth;
}
