.product-header{
  padding: 12px 0;
  background-color: $orange;
  &__title, &__btn{
    display: inline-block;
  }
  &__title{
    margin: 0;
    color: white;
    line-height: 40px;
    float: left;
  }
  &__btn{
    padding: .75rem;
    border-radius: 5px;
    float: right;
  }
}
