.product-desc{
  background-color: $white-cream;
  padding: 50px 0 45px;


  &__txt{
    color: $grey-med;
    text-align: justify;
    max-width: 350px;
    margin: 0 0 0 auto;
    p{
      margin-top: 0;
      margin-bottom: 10px;
      &:last-child{margin-bottom: 0;}
    }
  }
  &__list, &__txt{margin-top: 45px;}
}
