.product-tile{
  @extend %pannel-white;
  padding: 0 !important;
  margin-bottom: 35px;
  background-color: white;
  cursor: default;
  &:hover{
    box-shadow: 0 4px 0 0 $blue;
    .btn{background-color: $blue;}
  }
  &--no-hover{
    filter: grayscale(1);
    opacity: 0.9;
  }
  &__header{
    border-bottom: 1px dotted $orange;
    @include clearfix;
    padding: 13px 1.25rem 13px;
    .flexbox &{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__title{
    color: $orange;
    margin: 0;
    .flexbox &{
      flex: 1;
    }
  }
  &__price{
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
    .price{font-size: 1.6em;}
  }
  &__body{
    padding: 30px 30px 25px 30px;
    text-align: center;
    @include clearfix;
    &.lazyloaded{
      &:before{
        content: "";
        background: url('../../assets/images/Circle2.png') no-repeat;
        opacity: 0.3;
        background-position: 120% 225px;
        background-size: 200px auto;
        background-clip: border-box;
        background-origin: content-box;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  &__img, &__content{
    float: left;
    text-align: left;
    display: block;
    width: 100%;
  }
  &__img{
    img{
      vertical-align: top;
      margin: 0 auto;
      margin-bottom: 20px;
      width: 100%;
      max-width: 150px;
    }
  }
  &__list{
    @extend .product-desc__list;
    font-weight: 400;
    margin: 0;
    padding-left: 0;
    margin-bottom: 20px;
    li:not(:first-child) {
      margin-top: 16px;
    }
  }
  @include atSmall{
    &__img, &__content{
      display: inline-block;
      width: 50%;
    }
    &__content{float: right;}
    &__img{
      img{
        margin: 0;
        max-width: 175px;
      }
    }
  }
  @include atMedium{
    &__img, &__content{
      display: inline-block;
      width: 100%;
    }
    &__img{
      margin-bottom: 20px;
      img{
        margin: 0 auto;
        max-width: 150px;
      }
    }
  }
  @include atLarge{
    &__img{width: 40%;}
    &__content{
      width: 60%
    }
    &__img{
      img{
        max-width: 175px;
        margin: 0;
      }
    }
    &__body{
      padding: 30px 30px 25px 50px;
    }
  }
}
