.product-tile{
  @extend %pannel-white;
  padding: 0;
  &__header{
    border-bottom: 1px dotted $orange;
    @include clearfix;
    padding: 1.25rem 1.25rem 0;
    .flexbox &{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title{
    color: $orange;
    margin: 0;
  }
  &__price{
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
  }
}
