.product-header{
  padding: 12px 0;
  background-color: $orange;
  &__title, &__btn{
    display: inline-block;
  }
  &__title{
    margin: 0;
    color: white;
    line-height: 40px;
    float: left;
  }
  &__btn{
    padding: .75rem;
    border-radius: 5px;
    float: right;
  }
  &__links{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    @extend .page-title;
    .flexbox &{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &__icon{
      font-size: 1.3em;
      padding-right: 3px;
      vertical-align: -7%;
    }
  }
  &--selected-list{
    border-bottom: 5px solid white;
    .product-header__links{
      position: relative;
      &:after{
        content:"";
        width:0;
        height:0;
        position: absolute;
        bottom: -27px;
        left: 155px;
        border-left:13px solid transparent;
        border-right:13px solid transparent;
        border-top:12px solid white;
      }
    }
  }
}
