.product-header{
  @extend %pannel-white;
  padding: 0;
  margin: 0;
  cursor: default;
  &__head{
    border-bottom: 1px dotted $orange;
    padding:15px 25px 15px 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    @include atMedium{
      flex-flow: row;
      text-align: left;
    }
  }
  &__desc{
    display: inline-block;
    vertical-align: center;
  }
  &__title{
    margin: 0;
    margin-bottom: 5px;
    display: block;
    color: $orange;
    font-size: 1.715625rem;
  }
  &__txt{
    display: block;
    color: $grey-med;
    margin: 0;
  }
  &__price{
    display: inline-block;
    text-align: right;
    margin-bottom: 0;
    position: relative;
    top: 5px;
    min-width: 180px;
    align-self: center;
    @include atMedium{
      align-self: flex-end;
    }
  }
  &__column{

    &:first-child{padding-left: 0;}
    &:last-child{padding-right: 0;}
    @include atMedium{
      padding: 0 40px;
      &:not(:last-child){
        border-right: 1px dotted $orange;
      }
    }
  }
  &__img{
    display: block;
    max-width: 200px;
    margin: 0 auto;
  }
  &__btn{
    padding: 0 .75rem;
    border-radius: 5px;
    align-self: stretch;
    margin-top: 10px;
  }
  &__links{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    &__icon{
      font-size: 1.3em;
      padding-right: 3px;
      vertical-align: -7%;
    }
  }
  &__body{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: column;
    >.product-header__column{
      float: none;
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
      padding: 15px 0 15px;
      &:not(:last-child){
        border-bottom: 1px dotted $orange;
      }
      &--flex-direction-column{flex-direction: column;}
      &--flex-spread{justify-content: space-between;}
      &--align-right{text-align: right;}
      &--display-flex-until-large{display: none;}
      @include atMedium{
        justify-content: space-between;
        &:not(:last-child){
          border-bottom: none;
        }
        &:first-child{padding-left: 0;}
        &:last-child{padding-right: 0;}
        padding: 0 40px;
      }
      @include atLarge{
        &--display-flex-until-large{
          display: flex;
        }
      }
    }
    @include atMedium{
      flex-flow: row;
      justify-content: center;
      padding: 30px 40px;
    }
  }
  &__list{
    text-align: left;
    display: inline-block;
    &--small-margin-t{
      > li:not(:first-child){
        margin-top: 10px;
      }
    }
    &--bold{
      font-weight: 600;
    }
    .icon{font-size: 2.1875em; line-height: 1; vertical-align: middle; padding-right: 20px;}
  }
  &--selected-list{
    border-bottom: 5px solid white;
    .product-header__links{
      position: relative;
      &:after{
        content:"";
        width:0;
        height:0;
        position: absolute;
        bottom: -27px;
        left: 155px;
        border-left:13px solid transparent;
        border-right:13px solid transparent;
        border-top:12px solid white;
      }
    }
  }
}
