.product-services{
  counter-reset: product-services-counter;
  &__item{
    background-color: white;
    border: 2px solid $orange;
    border-radius: 2px;
    padding: 2.8125rem 2.8125rem 1.5625rem;
    counter-increment: product-services-counter;
    text-align: right;
    transition: all .3s ease;
    margin-bottom: 30px;
  }
  &__content{
    position: relative;
    padding-left: 3.2rem;
    text-align: left;
    color: $grey-light;
    &:before{
      content: counter(product-services-counter);
      position: absolute;
      top: -8px;
      left: -5px;
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      background-color: $orange;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
  }
  &__title{
    font-size: 1.25rem;
    margin-top: 0;
    color: $grey-med;
  }
  &__input{
    display: inline-block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    label{
      margin-left: 13px;
      border-radius: 5px;
    }
  }
  &__details{
    position: relative;
    text-align: left;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    z-index: 0;
    overflow: hidden;
    transform-origin: center;
    transform: translateY(-25px);
    transition: all .3s ease;
    &--is-open{
      height:auto;
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
    &--no-mheight{
      max-height: none !important;
    }
  }
}
