.aid{
  background-color: white;
  border: 2px solid $orange;
  border-radius: 8px;
  margin-bottom: 20px;
  @include atLarge{
    margin-bottom: 0;
  }
  &__question{
    color: $orange;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    padding: 8px 0;
    &__icon{
      margin-right: 10px;
      vertical-align: -14%;
      font-size: 1.8em;
    }
  }
  &__answer{
    border-top: 1px solid transparent;
    padding: 0 1.125rem;
    font-size: 0.875rem;
    line-height: 1.3;

    /*SLIDE EFFECT*/
    overflow:hidden;
    max-height: 0;
    transition-property:max-height, border;
    transition-duration:.5s;
    transition-timing-function: ease;
  }
  &--vertical-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &--is-open{
    .aid__answer{
      border-color: $orange;
    }
  }
}
