.aid{
  position: relative;
  background-color: white;
  border: 2px solid $orange;
  border-radius: 8px;
  margin-bottom: 20px;
  @include atLarge{
    margin-bottom: 0;
  }
  &__question{
    color: $orange;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 8px 0;
    &__icon{
      margin-right: 10px;
      vertical-align: -18%;
      font-size: 1.7em;
    }
  }
  &__answer{
    border-top: 1px solid transparent;
    padding: 0 1.125rem;
    font-size: 0.875rem;
    line-height: 1.3;

    /*SLIDE EFFECT*/
    overflow:hidden;
    max-height: 0;
    transition-property:max-height, border;
    transition-duration:.5s;
    transition-timing-function: ease;
  }
  &--vertical-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &--is-open{
    .aid__answer{
      border-color: $orange;
    }
  }
  &--faq{
    margin-bottom: 10px;
    .aid__question{
      text-align: left;
      padding: 8px 1.125rem;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .aid__question__icon{
      font-size: 1.4em;
      margin: 0;
      align-self: flex-end;
    }
    .aid__img{
      flex: 1;
      margin: 0;
      display: none;
      @include atSmall{
        display: block;
      }
    }
    .aid__answer{
      &__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        padding: 1.125rem 0;
        max-width: 100%;
      }
      &__content{
        flex-direction: column;
        margin: 0;
        @include atSmall{
          flex: 2;
          padding-left: 20px;
        }
        @include atMedium{
          flex: 5;
        }
        &__link{
          color: $orange;
          font-weight: 600;
        }
        h3, h4{
          margin-top: 0;
          color: $orange;
        }
        h3{
          font-size: 1rem;
          margin-bottom: 10px;
        }
        h4{margin-bottom: 0px;}
        p{
          margin: 0;
          margin-bottom: 10px;
          &:last-child{margin-bottom: 0;}
        }
      }
      &__btn{
        align-self: flex-end;
      }
    }
  }
}
.aid--faq.aid--is-open{
  .aid__question__icon:before{content: "\6f";}
}
