.availability{
  &__pc{
    input{display: inline-block; width: auto;}
    input:first-child{margin-bottom: 10px; text-align: center;}
  }
  &__result{
    .input-group:first-child{
      border-top: 1px solid white;
      padding-top: 20px;
    }
    .input-group{margin-bottom: 10px;}
    &__service{
      color: #f17f24;
      text-align: center;
      border-top: 1px solid white;
      margin-top: 20px;
      p{
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
    
  }
}
