.banner {
  position: relative;
  background-color: $grey-dark;
  min-height: 200px;
  box-shadow: inset 0 0 30px 1px rgba(0, 0, 0, 0.7);
  img&__img{
    position: relative;
    width: 100%;
    max-width: none;
  }
  &__top-image{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    float: left;
    img{
      max-width: none;
      height: 100%;
      width: auto;
    }
  }
  &__content{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &__wrapper{
      max-width: 320px;
    }
  }
  &__title{
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    font-size: 1.375rem;
    color: $orange;
  }
  &__txt{
    margin: 25px 0;
    line-height: 1.3;
    font-size: 1.125rem;
    color: white;
  }
}
