.breadcrumb{
  position: relative;
  margin-top: 0;
  padding: 0;
  @include atMedium{
    margin-top: -34px;
  }
  li{
    display: inline-block;
    font-size: .875rem;
    &:not(:first-child){
      margin-left: 14px;
      &:before{
        content: "•";
        color: $orange;
        position: relative;
        right: 10px;

      }
    }
    &:last-child{font-weight: 600;}
  }
  a{
    cursor: pointer;
    transition: color .3s ease-out;
    &:hover{color: $orange;}
  }
  &--white{
    li{color: white;}
  }
}
