.contact-form{
  @include clearfix;
  @extend %pannel-white;
  &__title{
    text-transform: uppercase;;
    font-size: 1.125rem;
    margin-top: 0;
  }
  &__img{
    display: inline-block;
    float: right;
  }
}

.input-group{
  margin-bottom: 20px;
  &__label{
    display: block;
    font-size: 0.9375rem;
    font-weight: 600;
    margin-bottom: 10px;
    span{color: red;}
  }
  &__input{
    display: block;
    width: 100%;
    min-height: 42px;
    border: 1px solid darken($white-cream, 10%);
    border-radius: 6px;
    transition: border .3s ease-out;
    &:focus{
      outline: 0;
      border-color: $orange;
      border-width: 1px;
    }
  }
}
