@charset "UTF-8";

@font-face {
  font-family: "novostream";
  src:url("../fonts/novostream.eot");
  src:url("../fonts/novostream.eot?#iefix") format("embedded-opentype"),
  url("../fonts/novostream.woff") format("woff"),
  url("../fonts/novostream.ttf") format("truetype"),
  url("../fonts/novostream.svg#novostream") format("svg");
  font-weight: normal;
  font-style: normal;
}
@mixin data-icon {
  font-family: "novostream" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: bottom;
}
[data-icon]:before {
  font-family: "novostream" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon{
  &:before{
    @include data-icon;
  }
  &--account:before {
    content: "\61";
  }
  &--basket:before {
    content: "\62";
  }
  &--circle:before {
    content: "\63";
  }
  &--circle-play:before {
    content: "\64";
  }
  &--circle-plus:before {
    content: "\65";
  }
  &--hd:before {
    content: "\66";
  }
  &--home:before {
    content: "\67";
  }
  &--musik:before {
    content: "\68";
  }
  &--phone:before {
    content: "\69";
  }
  &--privatetarife:before {
    content: "\6a";
  }
  &--spezialanwendungen:before {
    content: "\6b";
  }
  &--youtube:before {
    content: "\6c";
  }
  &--question:before {
    content: "\6d";
  }
  &--unternhementarife:before {
    content: "\6e";
  }
  &--circle-minus:before {
    content: "\6f";
  }
  &--left-arrow:before {
    content: "\70";
  }
  &--right-arrow:before {
    content: "\71";
  }
}
