.foot-note {
    font-size: 0.860625rem;
    color: white;
    &__icon{
      display: inline-block;
    }
}
a.foot-note{
  transition: color .3s ease-out;
  &:hover{color: $orange;}
  &--active{color: $orange;}
}
