.list{
  list-style: none;
  padding:0;
  margin:0;
  font-size: .875rem;
  &>li:not(:first-child){
    margin-top: 18px;
  }
  &>li {
    padding-left: 1rem;
    text-indent: -.7rem;
    &>.open-modal{
      font-size: 1rem;
      color: $orange;
      cursor: pointer;
      padding-left: 5px;
    }
  }
  &>li:not(&__empty):before {
    content: "• ";
    color: $orange;
  }
  &>li.list__empty:before{
    content: "\00a0";
    line-height: 1rem;
  }
  &--ellipsis{
    &>li{
      @include ellipsis;
    }
  }
  &--no-bullet{
    &>li:not(&__empty):before{
      content: none;
    }
  }
  @include atSmall{
    font-size: 1rem;
    &--ellipsis-at-small{
      &>li{
        @include ellipsis;
      }
    }
  }
}
