.list{
  list-style: none;
  padding:0;
  margin:0;
  &>li:not(:first-child){
    margin-top: 18px;
  }
  &>li {
    padding-left: 1rem;
    text-indent: -.7rem;
  }
  &>li:not(&__empty):before {
    content: "• ";
    color: $orange;
  }
  &li.list__empty:before{
    content: "\00a0";
    line-height: 1rem;
  }
}
