.modal{
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-out;
  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,.5);
  }
  &__panel{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 5px;
    background-color: rgba($grey-dark, 0.98);
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
  }
  @include clearfix;
  &--is-visible{
    opacity: 1;
    visibility: visible;
  }
  &__img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__description{
    font-size: 1rem;
    font-weight: 300;
    color: white;
  }
  &__close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.25rem;
    font-weight: 600;
    color:white;
    cursor: pointer;
    &:hover{
      color: $blue;
    }
  }
  &--availability-check{
    .modal__panel{
      width: 100%;
      max-width: 480px;
      min-width: 320px;
      margin: 0 auto;
      padding: 20px 20px 25px;
    }
    .modal__inner{
      text-align: center;
    }
  }
}
