.page-section {
  padding: 1.2rem 0;
  &--cream {
    background-color: $white-cream;
  }
  &--bg-ns-icon{
    position: relative;
    &.lazyloaded{
      &:before{
        content: "";
        background: url('../../assets/images/Circle-crops.png') no-repeat;
        opacity: 0.3;
        background-position: 50px 100%;
        background-clip: border-box;
        background-origin: content-box;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
      }
    }
  }
  &--aid {
    min-height: 210px;
    @include atMedium {
      padding: 76px 0 !important;
    }
    &.lazyloaded{
      background: #1c3647 url("../../assets/images/BG_parabole.jpg") no-repeat;
      background-size: 100% auto;
      background-position: top;
    }
  }
  &--no-b-padding-until-medium {
    padding-bottom: 0;
    @include atMedium {
      padding-bottom: 4.5rem;
    }
  }
  &--no-b-padding-until-large {
    padding-bottom: 0;
    @include atLarge {
      padding-bottom: 4.5rem;
    }
  }
  @include atMedium {
    padding: 3.125rem 0;
    &--small-padding{
      padding: 1.2rem 0;
    }
  }
}
