.page-section {
  padding: 1.2rem;
  &--cream {
    background-color: $white-cream;
  }
  &--bg-ns-icon{
    background: $white-cream url('../../assets/images/Circle.png') no-repeat;
    background-position: 50px 150px;
    background-clip: border-box;
    background-origin: content-box;
  }
  &--aid {
    min-height: 210px;
    @include atMedium {
      padding: 76px 0 !important;
    }
    &.lazyloaded{
      background: #1c3647 url("../../assets/images/BG_parabole.jpg") no-repeat;
      background-size: 100% auto;
      background-position: top;
    }
  }
  &--no-b-padding-until-medium {
    padding-bottom: 0;
    @include atMedium {
      padding-bottom: 4.5rem;
    }
  }
  &--no-b-padding-until-large {
    padding-bottom: 0;
    @include atLarge {
      padding-bottom: 4.5rem;
    }
  }
  @include atMedium {
    padding: 3.125rem 0;
  }
}
