.page-wrapper{
  position: relative;
  width: 100%;
  padding-top: 100px;
  overflow-x: hidden;
  right: 0;
  box-shadow: 2px 0 10px 0 rgba(0,0,0,0.3);
  transition: right .3s ease;
  @include atMedium{
    padding-top: 135px;
  }
  @include atLarge{
    padding-top: 160px;
  }
  &--open-mobile-menu{
    right: 247px;
    .site-header{
      right: 247px;
    }
  }
}
