.page-section {
  padding: 1.2rem 0;
  &--cream {
    background-color: $white-cream;
  }
  &--no-b-padding{
    padding-bottom: 0 !important;
  }
  &--bg-ns-icon{
    position: relative;
    &.lazyloaded{
      &:before{
        content: "";
        background: url('../../assets/images/Circle-crops.png') no-repeat;
        opacity: 0.3;
        background-position: 50px 100%;
        background-clip: border-box;
        background-origin: content-box;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
      }
    }
  }
  &--p-aid{
    @include atMedium {
      padding: 76px 0 !important;
    }
  }
  &--bg-parabole {
    min-height: 210px;
    padding: 2.5rem 0;
    &.lazyloaded{
      background: #1c3647 url("../../assets/images/BG_parabole.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }
  &--bg-sky {
    min-height: 210px;
    padding: 2.5rem 0;
    &.lazyloaded{
      background: #1c3647 url("../../assets/images/BG_terre.jpg") no-repeat;
      background-size: cover;
      background-position: bottom;
      background-attachment: fixed;
    }
  }
  &--reverse-b-margin{
    margin-bottom: -35px;
  }
  &--no-b-padding-until-medium {
    padding-bottom: 0;
    @include atMedium {
      padding-bottom: 4.5rem;
    }
  }
  &--no-b-padding-until-large {
    padding-bottom: 0;
    @include atLarge {
      padding-bottom: 4.5rem;
    }
  }
  @include atMedium {
    padding: 3.125rem 0;
    &--small-padding{
      padding: 1.2rem 0;
    }
  }
  &--no-pb{
    padding-bottom: 0 !important;
  }
}


.page-content{
    @extend %pannel-white;
    cursor: default;
    border-color: $orange;
    padding-top: 10px;
    padding-bottom: 20px;
    p{
      font-size: .875rem;
      line-height: 1.4;
      strong{display: block;}
    }
    &--cl-orange{
      color: $orange;
    }
}
