.primary-nav {
  display: inline-block;
  float: right;
  &--vertical-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 300px;
    height: 35px;
    &:not(:first-child) {
      border-left: 2px dotted $orange;
    }
    &:last-child>a {
      padding-right: 0;
    }
    a {
      line-height: 35px;
      padding: 0 1.125rem;
      text-align: center;
    }
  }

  &--small{
    li {
      font-size: 1rem;
      height: 20px;
      a {
        line-height: 20px;
        padding: 0 .75rem;
        text-align: center;
      }
    }
  }
}
