.primary-nav {
  display: inline-block;
  float: right;
  &--vertical-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    font-size: 1.25rem;
    height: 35px;
    overflow: hidden;
    position: relative;
    text-align: center;
    &:not(:first-child) {
      border-left: 2px dotted $orange;
    }
    &:last-child>a {
      padding-right: 0;
    }
    a {
      display: block;
      line-height: 35px;
      padding: 0 1.125rem;
      &>span{position: relative; top: 0; transition: top .3s ease-out;}
      &>span:not(.icon):after{
        content: attr(title);
        display: block;
        color: $orange;
      }
      &.active{color: $orange;}
      &:not(.active):hover{
        span:not(.icon){top: -35px;}
      }
    }
  }

  &--small{
    li {
      font-size: 1rem;
      height: 20px;
      a {
        line-height: 20px;
        padding: 0 .75rem;
        text-align: center;
        transition: color .3s ease-out;
        &:hover, &.active{color: $orange;}
      }
    }
  }
}
.primary-nav:not(.primary-nav--small) li:first-child{
  color: $orange;
}
