.product-services{
  border: 2px solid $orange;
  border-radius: 2px;
  padding: 0 2.8125rem;
  counter-reset: product-services-counter;
  &__item{
    padding: 2.8125rem 0 1.5625rem;
    counter-increment: product-services-counter;
    text-align: right;
    &:not(:last-child){
      border-bottom: 1px dotted $grey-light;
    }
  }
  &__content{
    position: relative;
    padding-left: 3.4375rem;
    color: $grey-med;
    text-align: left;
    &:before{
      content: counter(product-services-counter);
      position: absolute;
      top: -8px;
      left: 5px;
      color: white;
      font-size: 1.25rem;
      font-weight: 600;
      background-color: $orange;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
  }
  &__title{
    font-size: 1.25rem;
    margin-top: 0;
  }
  &__input{
    display: inline-block;
    height: 40px;
    width: 80px;
    background-color: $orange;
  }
}
