.service-panel{
  position: relative;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .3s ease-out;
  overflow: hidden;
  margin-bottom: 10px;
  @include atMedium{
  margin-bottom: 0;
  }
  img{
    transition: all .3s ease-out;
  }
  &__content{
    position: absolute;
    top: 15px;
    left: 20px;
    max-width: 210px;
  }
  &__title{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: $orange;
    text-transform: uppercase;
  }
  &__txt{
    font-size: 1.125rem;
    margin: 0;
  }
  &__btn{
    position: absolute;
    bottom: 15px;
    right: 20px;
    &__icon{
      vertical-align: middle;
      margin-left: 3px;
    }
  }
  &:hover{
    border: 1px solid $blue;
    box-shadow: 0 0 10px 0 rgba($blue, 0.5);
    img{
      transform: scale(1.05);
    }
    .service-panel__btn{
      background-color: $blue;
      color: white;
    }
  }
}
