.site-header {
    &__top {
      padding: 5px 0;
        background-color: $grey-dark;
        &__links {
            float: right;
            margin: 0;
            li {
                display: inline-block;
                &:not(:first-child){margin-left: 2.375rem;}
            }
        }
    }
    &__bottom {
        padding: 28px 0;
        background-color: white;
        &__logo{
          display: inline-block;
        }
    }
}
