.site-footer {
  position: relative;
  box-shadow: 0 0 10px 0px rgba(#000, 0.25);
  &__top {
    border-bottom: 3px solid $orange;
    background-color: white;
    padding: 8px 0;
    text-align: center;
    &__logo{
      display: block;
      text-align: center;
      img{
        display: inline;
        height: 58px;
        margin-right: 8px;
        vertical-align: -124%;
      }
    }
    &__nav{
      float: none;
      margin-top: 10px;
    }
    @include atMedium{
      text-align: left;
      &__logo{
        display: inline-block;
        text-align: left;
      }
      &__nav{float: right; margin-top: 0;}
    }
  }
  &__bottom {
    padding: 14px 0;
    background-color: $grey-med;
    text-align: center;
    &__foot-note{
      display: block;
      margin-bottom: 15px;
    }
    &__logo{
      margin: 0 auto;
      img{display: inline;}
    }
    @include atMedium{
      &__foot-note{
        margin-bottom: 0;
        @include vertical-align-middle;
      }
      &__logo{
        margin: 0;
        float: right;
        img{display: inline;}
      }
    }
  }
}
