.site-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 10px 0px rgba(#000, 0.25);
  transition: background .3s ease, top .3s ease, right .3s ease;
  &__top {
    background-color: $grey-dark;
    height: 29px;
    transition: height .3s ease;
    .site-header__top__links:nth-child(2){
      li:not(.site-header__top__links__login){
        display: none;
      }
    }
    @include atMedium{
      .site-header__top__links:nth-child(2){
        li:not(.site-header__top__links__login){
          display: inline-block;
        }
      }
    }
    &__links {
      display: inline-block;
      margin: 0;
      padding: 0;
      float: left;
      line-height: 29px;
      &--pull-right{
        float: right;
      }
      li {
        display: inline-block;
        a{
          display: block;
          padding: 0 0.625rem;
          &.active{
            background-color: darken($grey-dark, 10%);
          }
        }
        @include atMedium{
          &.margin-left{margin-left: 1.875rem;}
        }
      }
      &__login{
        position: relative;
        z-index: 1;
        &--is-open{
          .site-header__top__links__login-form{
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &__login-form{
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        right: 0;
        transition: all .3s ease;
        transform: translateY(-10px);
      }
    }
  }
  &__bottom {
    padding: 10px 0;
    transition: all .3s ease;
    @include atMedium{
      padding: 28px 0;
      &.lazyloaded{
        &:before{
          content: "";
          opacity: 0.3;
          background: white url('../../assets/images/Circle2.png') no-repeat;
          background-position: -35% 11%;
          background-clip: border-box;
          background-origin: content-box;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;
        }
      }
    }
    &__logo{
      transition: transform .3s ease;
      transform-origin: 0 0;
      transform: scale(1);
      max-width: 250px;
      @include atLarge{
        max-width: none;
      }
    }
    .flexbox &__flexbox{
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__menu-icon{
    width: 25px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
    @include atMedium{display: none;}
    &:before, &__middle, &:after{
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $grey-dark;
    }
    &:before{
      content: "";
      top: 0;
      transform-origin: 0;
      transition: transform .3s ease-out;
    }
    &__middle{
      top: 8px;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }
    &:after{
      content: "";
      bottom: 0;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }
    &--close-x{
      &:before{
        transform: rotate(45deg) scaleX(.95);
      }
      .site-header__menu-icon__middle{
        opacity: 0;
        transform: scaleX(0);
      }
      &:after{
        transform: rotate(-45deg) scaleX(1) translateY(1px);
      }
    }
  }
  &--minimize{
    background-color: rgba(555,555,555, 0.95);
    top: -29px;
    .site-header__bottom{
      padding: 5px 0;
    }
    .site-header__top__links__login-form{visibility: hidden; opacity: 0; transform: translateY(-10px);}
    .site-header__bottom__logo{
      transform: scale(.9);
    }
  }
}
