.site-footer {
  position: relative;
  box-shadow: 0 0 10px 0px rgba(#000, 0.25);
  &__top {
    border-bottom: 3px solid $orange;
    padding: 8px 0;
    &__logo{
      img{
        display: inline;
        height: 58px;
        margin-right: 8px;
        vertical-align: -124%;
      }
    }
  }
  &__bottom {
    padding: 14px 0;
    background-color: $grey-med;
    &__foot-note{
      @include vertical-align-middle;
    }
    &__logo{
      float: right;
      img{display: inline;}
    }
  }
}
