.site-footer {
    &__top {
        border-bottom: 3px solid $orange;
        padding: 8px 0;
        &__logo{
          display: inline-block;
          img{
            display: inline;
            height: 58px; margin-right: 8px;
          }
          span{position: relative; bottom: 22px;}
        }
    }
    &__bottom {
      padding: 14px 0;
        background-color: $grey-light;
        &__foot-note{
          @mixin vertical-align-middle;
        }
        &__logo{
          float: right;
          img{display: inline;}
        }
    }
}
