.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 10px 0px rgba(#000, 0.25);
  transition: background .3s ease, top .3s ease;
  &__top {
    background-color: $grey-dark;
    height: 29px;
    transition: height .3s ease;

    &__links {
      display: inline-block;
      margin: 0;
      padding: 0;
      padding-right: 2.5rem;
      float: left;
      line-height: 29px;
      &--pull-right{
        float: right;
        padding-right: 0;
        padding-left: 2.5rem;
      }
      li {
        display: inline-block;
        a{
          display: block;
          padding: 0 0.625rem;
          &.active{
            background-color: darken($grey-dark, 10%);
          }
        }
        &.margin-left{margin-left: 1.875rem;}
      }
      &__login{
        position: relative;
        z-index: 1;
        &--is-open{
          .site-header__top__links__login-form{
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
      &__login-form{
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        right: 0;
        transition: all .3s ease;
        transform: translateY(-10px);
      }
    }
  }
  &__bottom {
    padding: 28px 0;
    transition: all .3s ease;
    &.lazyloaded{
      &:before{
        content: "";
        opacity: 0.3;
        background: white url('../../assets/images/Circle2.png') no-repeat;
        background-position: -35% 11%;
        background-clip: border-box;
        background-origin: content-box;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }
    &__logo{
      transition: transform .3s ease;
      transform-origin: 0 0;
      transform: scale(1);
    }
    .flexbox &__flexbox{
      display: flex;
      flex-flow: row;
      align-items: center;;
      justify-content: space-between;
    }
  }
  &--minimize{
    background-color: rgba(555,555,555, 0.95);
    top: -29px;
    .site-header__bottom{
      padding: 5px 0;
    }
    .site-header__top__links__login-form{visibility: hidden; opacity: 0; transform: translateY(-10px);}
    .site-header__bottom__logo{
      transform: scale(.9);
    }
  }
}
