/*Ne pas éditer modules/_sprite directement car le fichier est automatisé par Gulp.
Editer gulp/templates/sprite*/

.icon{
      background-image: url('../../assets/images/sprites/sprite-8f58f877.svg');
}
.no-svg .icon{
      background-image: url('../../assets/images/sprites/sprite-8f58f877.png');
}
  .icon--Home_icone{
    width: 34px;
    height: 34px;
    background-position: 0 0;
  }
  .icon--account_icone{
    width: 34px;
    height: 34px;
    background-position: 50% 0;
  }
  .icon--circle_play_icone{
    width: 34px;
    height: 34px;
    background-position: 0 100%;
  }
  .icon--phone_icone{
    width: 34px;
    height: 34px;
    background-position: 50% 100%;
  }
  .icon--question_icone{
    width: 34px;
    height: 34px;
    background-position: 100% 0;
  }
