/*Ne pas éditer modules/_sprite directement car le fichier est automatisé par Gulp.
Editer gulp/templates/sprite*/

.icon {
    background-image: url('../../assets/images/sprites/sprite-19476407.svg');
}

.no-svg .icon {
    background-image: url('../../assets/images/sprites/sprite-19476407.png');
}

.icon--account {
    width: 34px;
    height: 34px;
    background-position: 0 0;
}

.icon--circle-play {
    width: 34px;
    height: 34px;
    background-position: 50% 0;
}

.icon--home {
    width: 34px;
    height: 34px;
    background-position: 0 100%;
}

.icon--phone {
    width: 34px;
    height: 34px;
    background-position: 50% 100%;
}

.icon--question {
    width: 34px;
    height: 34px;
    background-position: 100% 0;
}
