.row {
  /*Container de ligne*/
  margin-left: -($gridGutterWidth/2);
  margin-right: -($gridGutterWidth/2);
  @include clearfix;
  &--no-offset, .row{
    margin-left: 0;
    margin-right: 0;
  }
  &--gutters {
    margin-right: -30px;
  }
  &--gutters-large {
    margin-right: -100px;
  }
  &--gutters div[class^="row__"]{
    padding-right: 30px;
  }
  &--gutters-large div[class^="row__"]{
    padding-right: 100px;
  }
  &--gutters-small div[class^="row__"]{
    padding-right: 45px;
  }
  &__b-margin-util-medium {
    margin-bottom: 1rem;
  }
  &--t-padding {
    padding-top: 80px;
  }
  &--gutters-small {
    margin-right: -45px;
  }
  &--containers-relative{
    &>div{position: relative;}
  }
  /*Debut règles hauteur égale*/
  .flexbox &--equal-height-at-medium {
    @include atMedium {
      display: flex;
    }
    &>div{
      float: none;
      display: flex;
    }
  }
  .flexbox &--equal-height-at-large {
    @include atLarge {
      display: flex;
    }
    &>div{
      float: none;
      display: flex;
    }
  }
  @include atMedium {
    &__medium-3 {
      float: left;
      width: 25%;
    }
    &__medium-4 {
      float: left;
      width: 33.33%;
      &--larger {
        width: 37%;
      }
    }
    &__medium-6 {
      float: left;
      width: 50%;
    }
    &__medium-8 {
      float: left;
      width: 66.66%;
      &--smaller {
        width: 63%;
      }
    }
    &__b-margin-util-medium {
      margin-bottom: 0;
    }
  }
  @include atLarge {
    &__large-4 {
      float: left;
      width: 33.33%;
      &--larger {
        width: 37%;
      }
    }
    &__large-6 {
      float: left;
      width: 50%;
    }
    &__large-8 {
      float: left;
      width: 66.66%;
      &--smaller {
        width: 63%;
      }
    }
    &__b-margin-util-large {
      margin-bottom: 0;
    }
  }
}

.clearfix{
  @include clearfix;
}
